{
  "OUs": [
    "OU=YourOU,DC=yourdomain,DC=local"
  ],
  "DefaultOutputDir": "C:\\Temp",
  "ADServer": "localhost",
  "EmailSettings": {
    "SmtpServer": "smtp.yourdomain.local",
    "Port": 25,
    "Sender": "admin@yourdomain.local",
    "Recipient": "report@yourdomain.local"
  },
  "GitHubSync": {
    "LocalPath": "C:\\GitHub",
    "RemoteUrl": "https://github.com/YourOrganization"
  }
}
